.header {
  background-color: rgba(0, 0, 0, 0.336);
}
.my-modal {
  color: white;
  overflow: hidden;
}
.modal-title {
  background-color: rgb(2, 97, 160);
}
.modal-body {
  background-color: rgb(2, 97, 160);
}
.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  background-color: rgba(75, 74, 74, 0.459);
  border-radius: 10px;
}
.questions {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(25, 168, 25);
  font-weight: bolder;
  padding: 0rem 1rem;
}
.arrow-btn {
  margin: auto;
  border: none;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(245, 160, 50);
  width: 10%;
  border-radius: 5px;
}
.answers {
  padding: 1rem;
}
